

/* Paper Wallet */
input[type=text] {
    width: 1000px;
    height: 35px;
    paddingprint: 8px 8px 8px 8px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.walletTemplate {
  margin: 0 auto;
  width: 80%;
}

.selectText {
  margin:8px;
  color: #dcdee2;
  font-size: 20px;
  font-weight: bold;
}

select {
  height:30px;

}

.inline {
  float:left;
}

/* NavBar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

li a:hover:not(.active) { background-color: #111; }

.active { background-color: #4256f4; }
.inactive { background-color: #4256f4;  }

/* FAQ */
.infoBox {
    margin: 8px;
    width: 800px;
    color: #fce5e5;
}

/* Generate Seed */
.mouseBoxHeader { text-align: center; }

.mouseBox {
    width: 900px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    background-color: #ffffff;
    background-image: url("./images/iota-logo.png");
    background-size: 850px 275px;
    background-position: center center;
    background-repeat:   no-repeat;
    opacity: 0.3;
    word-wrap: break-word;
}

.mouseBoxText { font-size: 75%; }

/* Other */
body {
  /*
  background-image: url("./images/grey.png");
  */
  background-image: url("./images/earth.jpg");

  background-repeat: no-repeat;
  background-size:cover;
}

h1,h2,h3,h4,h5,h6 {
    margin: 8px;
    color: #dcdee2;
    margin-top: 0;
}

.blueButton {
    background-color: #4256f4;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
}

.main {
    width: 70%;
    height: 900px;
    margin: 0 auto;
    background-image: url("./images/divbg.jpg");
    border-style: dotted;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.footer {
    position: fixed;
    bottom: 0;
    color: #fce5e5;
    width: 100%;
}
