/* Opener */
.centerDiv {
  text-align: center;
}

.left {
  float: left;
}

.advOptToggle {
  margin:8px;


  font-weight: bold;
}

/* Paper Wallet */
.shortWidth {
  width: 85%;
}

form-control-feedback {
    top: 0;
    right: -50px;
}

.walletTemplate {
  width: 50%;
  margin-left: 6%;
}

.selectText {
  margin:8px;
  font-size: 16px;
  font-weight: bold;
}

select {
  height:30px;
}

.marginTop {
  margin-top: 8px;
}

.advancedOptions {
  padding-top: 8px;
  width: 40%;
  height: 100px;
  margin-left: 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #4FC3F7;
  word-wrap: break-word;
}

/* NavBar */
.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
  background-color: #0288D1;
}
.navLi {
  float: left;
}
.navLi a {
  display: block;
  color: white;
  height: 60px;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}
.github {
    float: right;
}
.github a {
  display: block;
  color: white;
  height: 60px;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

li a:hover:not(.active) { background-color: #29B6F6; }

.active { background-color: #00B0FF; }
.inactive { background-color: #0277BD;  }

/* FAQ */
.infoBox {
    margin: 8px;
    width: 800px;
}

/* Generate Seed */
.centerHeader { text-align: center; }

.center { text-align: center; }

.mouseBox {
  width: 80%;
  height: 250px;
  border: 2px solid black;
  margin: auto;
  background-color: #ffffff;
  background-image: url("./images/iota-logo.png");
  background-size: 850px 275px;
  background-position: center center;
  background-repeat:   no-repeat;
  opacity: 0.3;
  word-wrap: break-word;
  overflow: hidden;
}

.mouseBoxText { font-size: 80%; }

.seedBox {
  width: 90%;
  height: 50px;
  border: 2px dashed black;
  border-radius: 8px;
  margin: auto;
  opacity: 0.8;
  background-color: #ffffff;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}


.well {
  width: 85%;
  border: 2px solid black;
  margin: 0 auto;
  background-color: #4FC3F7;
  overflow: auto;
}
.cautionStripes {
  width: 85%;
  height: 30px;
  border: 2px solid black;
  margin: 0 auto;
  background-image: url("./images/cautionStripes.png");
  background-size:cover;
}
/* Other */
body {
  font-family: Lato;
  font-size: 16px;
  background-color: #E1F5FE;
}



h1,h2,h3,h4,h5,h6 {
  margin: 8px;
  margin-top: 5;
}

.bold {
  font-weight: bold;
}

.main {
  width: 70%;
  height: 600px;
  margin-top: 2%;
  margin-bottom:2%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 2%;
  background-color: #81D4FA;
  border-style: solid;
  border-color: #03A9F4;
  border-radius: 5px;
}

.shortMain {
  width: 70%;
  height: 400px;
  margin-top: 2%;
  margin-bottom:2%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 2%;
  background-color: #81D4FA;
  border-style: solid;
  border-color: #03A9F4;
  border-radius: 5px;
}

.back {
  float: left;
  margin-right:800px;
}
